<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-md-8">
      <h1>Cocktails</h1>
        <% @cocktails.each do |cocktail| %>
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <button type="button" class="btn btn-light"><%= link_to 'Add New Cocktail', new_cocktail_path %></button>
</div>