<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-md-8">
      <h1>Cocktails</h1>

      <ul>
        <% @cocktails.each do |cocktail| %>
          <li>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <button type="button" class="btn btn-light"><%= link_to 'Add New Cocktail', new_cocktail_path %></button>
</div>